head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    link(rel="stylesheet", href="css/bulma.min.css")
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inter:300,400,600,700&display=swap")
    link(rel="shortcut icon", type='image/png', href="img/icons/pwa192.png")
    link(rel="icon",sizes='192x192' , href="img/icons/pwa192.png")
    link(rel="apple-touch-icon" , href="img/icons/pwa192.png")
    meta(name='application-name', content='Radio PWA')
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel="manifest", href="manifest.json")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://use.fontawesome.com/releases/v5.12.0/js/all.js", defer)
    title Radio PWA