#player
    .navbar.is-light
        .navbar-brand
            a.navbar-item.is-size-5#player_station.has-text-weight-bold Select a station
        .navbar-end
            a.navbar-item.has-background-dark.has-text-light.is-size-5.player-buttons
                span.icon#player_icon
                    i.fa.fa-play
            a.navbar-item.has-background-grey.has-text-light.is-size-5.player-buttons(onclick='player(\'stop\')')
                span.icon
                    i.fa.fa-stop